@import url("global.css");
#tabs, .tab-content{
    padding: var(--max-padding);
}
#tab2,#tab3,#tab4,#tab5{
   padding:0.1rem 6rem !important;

}
#tabs ul{
    display: flex;
    /* flex-wrap: wrap; */
    width: 100%;
    list-style: none;
    margin-top: 3rem;
}
.tab-link.active {
    border-bottom: 4px solid #1850DB; 
  }
#tabs ul li a{
    text-decoration: none;
    color: #8c8b8b;
    padding: 0rem 3rem;
}
.tab-content {
    display: none;
}
.tab-content .img{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1.7rem;
}
.active {
    display: block;
}
@media screen and (max-width:1000px) {
    .tab-content .img{
        display: grid;
        grid-template-columns: auto auto auto ;
        gap: 1.7rem;
    }  
    .tab-content{
        padding: 0 !important;
        padding-top: 0.6rem !important;
    }
    #tab2,#tab3,#tab4,#tab5{
        padding:0.6rem 0rem 0rem 3rem!important;
     }
}
@media screen and (max-width:800px) {
    #tabs ul{
        display: grid;
        grid-template-columns: auto auto;
    }
    
}
@media screen and (max-width:700px) {
    .tab-content .img{
        display: grid;
        grid-template-columns: auto auto;
        gap: 1.7rem;
    }  
}
@media screen and (max-width:500px) {
    .tab-content .img{
        display: grid;
        grid-template-columns: auto;
        gap: 1.7rem;
    }  
    #tabs ul{
        grid-template-columns: auto;
    }
    #tab2,#tab3,#tab4,#tab5{
        padding:0.1rem 1rem !important;
     
     }
}